/* 
Variables! 
*/  
@primary_green: #96BA5A;  
@secondary_green: #84B154;
@alt_green: #5AAC7B;
@blue_highlight: #4BC1DD;

@general_padding: 10px;
  
/* 
Mix-ins are like functions for commonly used operations, 
such as apply borders. We create variables by prepending 
the @ symbol. 
*/  
.rounded(@radius: 5px) {  
    -moz-border-radius: @radius;  
    -webkit-border-radius: @radius;  
    border-radius: @radius;  
}  

.linearBg2(@color1: #2F2727, @color2: #1a82f7) {

  background-color: @color2;
  background: url(images/linear_bg_2.png);
  background: -moz-linear-gradient(100% 100% 90deg, @color1, @color2);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@color2), to(@color1));
}

.button(){
		border:none;
		background-color: @blue_highlight;
		padding: 0.2em 1.5em 0.2em 1.5em;
		color: white;
		font-family:'CantarellRegular', Arial, sans-serif;
		font-size: 16px;
		 .rounded(); 
}

.box-shadow( 
	@x : 2px, 
	@y : 2px, 
	@blur : 5px, 
	@spread : 0, 
	@color : rgba(0,0,0,.1) 
) {
	-webkit-box-shadow: @x @y @blur @spread @color;
	   -moz-box-shadow: @x @y @blur @spread @color;	
			box-shadow: @x @y @blur @spread @color;	
}

.inset-shadow(){
	-webkit-box-shadow: #666 0px 1px 3px inset;   
    -moz-box-shadow: #666 0px 1px 3px inset;   
    box-shadow: #666 0px 1px 3px inset;
}
  
  
body{
 
	 background:url('http://danu2.it.nuigalway.ie/DavidOrgansFYP/fypsite/images/diags.gif') center;
}  
	
h1{
	color: @blue_highlight;
	padding-bottom:10px;
	padding-left:10px;
	margin:0px;
	font-family:'CantarellRegular', Arial, sans-serif;
}

h2,h3,h4,h5,h6{
	color: @blue_highlight;
	font-family:'CantarellRegular', Arial, sans-serif;
	padding-bottom:10px;
	margin:0px;
}
	
.left-marg{
		margin-left:@general_padding;
}

#top_banner{
	height: 50px;
	width:100%;
	background-color: black;
	margin-bottom: 20px;
	.linearBg2(black, #555);
	.box-shadow(0px,2px,5px,0,rgba(0,0,0,.4));   
	
		h1{
		color: @blue_highlight;
		padding:0px;
		padding-top:@general_padding;
		margin:0px;
		font-family:'CantarellRegular', Arial, sans-serif;
		}  
		
	#banner_right, #banner_right_float{
		font-size: 16px;
		font-family:'CantarellRegular', Arial, sans-serif;
		padding-top:13px;
		padding-right: @general_padding;
		padding-left: @general_padding;
		color:@blue_highlight;
	}
	
	#banner_right_float{
		float:right;
		text-align:right;
		height: 20px;
	}
	
	
	
	a{
		color:@blue_highlight;
		text-decoration:none;
	}
	a:hover{
		text-decoration: underline;
	}
	
}



	
#main_container, #login_container {  
/* References the variable we created above. */  
    background: white;
	background-image: url('http://danu2.it.nuigalway.ie/DavidOrgansFYP/fypsite/images/bg_main.png');
	background-repeat:repeat-y;
	padding-top:@general_padding;
	padding-bottom:@general_padding;
	margin-top:@general_padding;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
						 
	border: 5px solid rgba(0,0,0,0.2);
						
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 

	p{
		padding: 0px 10px 0px 10px;
	}  
/* Calls the .rounded mix-in (function) that we created, and overrides the default value. */  
    .rounded();   
  
/* Nested selectors inherit their parent's selector as well. This allows for shorter code. */  
    a {  
        color: @alt_green;  
    } 
	
	#gallery{
		.thumb{
			width:100px;
			height:100px;
			overflow:hidden;
			float:left; 
			border:3px solid #CCC;
			margin:5px;
			img{


			}
			img:hover{
				
			}
		}
		.thumb:hover{
			border:3px solid @primary_green;
		}
	}
	
	#ajax_form{
		position:relative;
		
		textarea{
			float:left;
			
		}
		
		input[type='submit']{
			.button();
			float:left;
			text-decoration:none;
			position:absolute;
			bottom:-20px;
			right:170px;
			background-color:@blue_highlight;
		}
		
		input[type='submit']:hover{
			background-color:@blue_highlight;
			cursor:pointer;
	
		}
		
		input[type='submit']:active{
			background-color:@blue_highlight;
			cursor:pointer;
			.inset-shadow();
		}
	}
	
	#left_panel{

		.side_links{
			width: 235px;
			border-bottom: 1px solid white;			
			margin:10px;
			
			h5{
				padding:0px;
			}
		}
		
		.side_links:hover{

		}
		
		.side_links a{
			color: @blue_highlight;
			text-decoration:none;
		}
	}
	
	#about-club{
		padding:10px 10px 5px 10px;
		
		h1,p{
			padding-left:0px;
			padding-bottom:5px;
		}
	}
	
	
	#main_panel{
		/*border-left: 1px dashed @primary_green;*/
		height:100%;
		

	}
	
	#message_main{
		padding:10px;
	}
	
	#form_messages{
		float:left;
		width:100%;
		padding:10px 10px 20px 10px;
		
		.message{
			border-bottom: 1px solid #CCC;
			padding-top:20px;
			color:#333;
			
			.author{
				font-size:10px;
				color:#AAA;
			}
			
			img{
				float:left;
				padding:3px;
				border:2px solid #ccc;
				margin:5px;
			}
			
		}
	}
	
}  

#login_container{
	width:300px;
	margin:0 auto;
	padding: @general_padding;
	margin-top:100px;
	.box-shadow();
	background-image:none;
	
	input,a{
		display:block;
		padding:0.2em;
		margin-top:1em;
	}
	
	input[type='text'],input[type='password']
	{
		width:290px;
	}
	
	input[type='submit'], a{
		.button();
		float:left;
		text-decoration:none;
	}
	
	input[type='submit']:hover, a:hover{
		cursor:pointer;

	}
	
	input[type='submit']:active, a:active{
		cursor:pointer;
		.inset-shadow();
	}
	
	a{
		margin-left:10px;
	}
	
	h1{
		margin-left:0px;
		padding-left:0px;
	}
	
	
}

#browse_table{
	tr,td,th{
		 padding:5px;
	}
	
	a{
		text-decoration:none;
		color: #333;
		
		.club_info{
		width:600px;
		padding: 5px 10px 5px 10px;
		border-bottom: 1px solid #ccc;
		}
		
		.club_info:hover{
			background-color:#EEE;
		}
	}
	

}

.pagination{
	float:right:
	width: 400px;
	margin:20px 10px 20px 10px;
	
	a{
		width:10px;
		height:10px;
		padding:10px;
		background-color:@blue_highlight;
		color: white !important;
		text-decoration: none;
	}
	
	a:hover{
		text-decoration:underline;
		background-color: #CCC;
	}
	
	.curr_page{
		color: #333 !important;
				width:10px;
		height:10px;
		padding:10px;
	}
}

#join_form{
	input[type='hidden']{
		display:none;
		
	}
	padding:0px 10px 10px 15px;
}

#join{
	.button();
	margin-left:10px;
		
}

#join:hover{
	cursor:pointer;
	}
	
	fieldset{
		border:1px solid #CCC;
		padding: 10px;
		legend{
			color: @blue_highlight;
			font-family:'CantarellRegular', Arial, sans-serif;
			padding-bottom:10px;
			margin:0px;		
		}
	}
	
	#addclub
	{
		input[type='submit']{
			.button();
			float:left;
			text-decoration:none;
		}
		
		input[type='submit']:hover{
			cursor:pointer;
	
		}
		
		input[type='submit']:active{
			cursor:pointer;
			.inset-shadow();
		}
		
		span{
			color: #333;
			font-size:12px;
		}
	}
	
	#upload{
			input[type='submit']{
			.button();
			float:left;
			text-decoration:none;
			}
			
			input[type='submit']:hover{
				cursor:pointer;
		
			}
			
			input[type='submit']:active{
				cursor:pointer;
				.inset-shadow();
			}
	}
	
	#interests{
		display:none;
		
	}
	
#interests_submit{
	.button();
}

#interests_submit:hover{
	cursor:pointer;
}

#interests_submit:active{
	cursor:pointer;
	.inset-shadow();
}

.step{
	width: 30%;
	float:left;
		height:250px;
	padding:10px 10px 0px 10px;
	margin-bottom:10px;
}

.step:hover{
	background-color:#EEEEEE;


}

.step_link a{
	color:#FFF !important;
	text-decoration:none;
}

.step_link .buttons{
	color: #FFF;
	.button();
	}
	
.step_link .buttons:active{
	color: #FFF;
	.button();
		.inset-shadow();
	}
	
	
	.step_link{
	width: 30%;
	float:left;
	padding:0px 10px 10px 10px;

}

