/* 
Variables! 
*/  
@primary_green: #96BA5A;  
@secondary_green: #84B154;
@alt_green: #5AAC7B;
@blue_highlight: #4BC1DD;

@general_padding: 10px;
  
/* 
Mix-ins are like functions for commonly used operations, 
such as apply borders. We create variables by prepending 
the @ symbol. 
*/  
.rounded(@radius: 5px) {  
    -moz-border-radius: @radius;  
    -webkit-border-radius: @radius;  
    border-radius: @radius;  
}  

.linearBg2(@color1: #2F2727, @color2: #1a82f7) {

  background-color: @color2;
  background: url(images/linear_bg_2.png);
  background: -moz-linear-gradient(100% 100% 90deg, @color1, @color2);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@color2), to(@color1));
}

.button(){
		border:none;
		background-color: @primary_green;
		padding: 0.2em 1.5em 0.2em 1.5em;
		color: white;
		font-family:'CantarellRegular', Arial, sans-serif;
		font-size: 16px;
		 .rounded(); 
}

.box-shadow( 
	@x : 2px, 
	@y : 2px, 
	@blur : 5px, 
	@spread : 0, 
	@color : rgba(0,0,0,.1) 
) {
	-webkit-box-shadow: @x @y @blur @spread @color;
	   -moz-box-shadow: @x @y @blur @spread @color;	
			box-shadow: @x @y @blur @spread @color;	
}

.inset-shadow(){
	-webkit-box-shadow: #666 0px 1px 3px inset;   
    -moz-box-shadow: #666 0px 1px 3px inset;   
    box-shadow: #666 0px 1px 3px inset;
}
  
  
body{
 
	 background:url('http://danu2.it.nuigalway.ie/DavidOrgansFYP/fypsite/images/subliminal.gif') repeat;
}  
	
h1{
	color: @blue_highlight;
	padding-bottom:10px;
	padding-left:10px;
	margin:0px;
	font-family:'CantarellRegular', Arial, sans-serif;
}

h2,h3,h4,h5,h6{
	color: @secondary_green;
	font-family:'CantarellRegular', Arial, sans-serif;
	padding-bottom:10px;
	margin:0px;
}
	
.left-marg{
		margin-left:@general_padding;
}

#top_banner{
	height: 50px;
	width:100%;
	background-color: black;
	margin-bottom: 20px;
	.linearBg2(black, #555);
	.box-shadow(0px,2px,5px,0,rgba(0,0,0,.4));   
	
		h1{
		color: @blue_highlight;
		padding:0px;
		padding-top:@general_padding;
		margin:0px;
		font-family:'CantarellRegular', Arial, sans-serif;
		}  
		
	#banner_right, #banner_right_float{
		font-size: 16px;
		font-family:'CantarellRegular', Arial, sans-serif;
		padding-top:13px;
		padding-right: @general_padding;
		padding-left: @general_padding;
		color:@blue_highlight;
	}
	
	#banner_right_float{
		float:right;
		text-align:right;
		height: 20px;
	}
	
	
	
	a{
		color:@blue_highlight;
		text-decoration:none;
	}
	a:hover{
		text-decoration: underline;
	}
	
}



	
#main_container, #login_container {  
/* References the variable we created above. */  
    background: white;
	background-image: url('http://danu2.it.nuigalway.ie/DavidOrgansFYP/fypsite/images/bg_main.png');
	background-repeat:repeat-y;
	padding-top:@general_padding;
	padding-bottom:@general_padding;
	margin-top:@general_padding;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
						 
	border: 5px solid rgba(0,0,0,0.1);
						
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 

	p{
		padding: 0px 10px 0px 10px;
	}  
/* Calls the .rounded mix-in (function) that we created, and overrides the default value. */  
    .rounded();   
  
/* Nested selectors inherit their parent's selector as well. This allows for shorter code. */  
    a {  
        color: @alt_green;  
    } 
	
	#ajax_form{
		position:relative;
		
		textarea{
			float:left;
			
		}
		
		input[type='submit']{
			.button();
			float:left;
			text-decoration:none;
			position:absolute;
			bottom:-20px;
			right:170px;
		}
		
		input[type='submit']:hover{
			background-color:@secondary_green;
			cursor:pointer;
	
		}
		
		input[type='submit']:active{
			background-color:@secondary_green;
			cursor:pointer;
			.inset-shadow();
		}
	}
	
	#left_panel{
		
	}
	
	#about-club{
		padding:10px 10px 5px 10px;
		
		h1,p{
			padding-left:0px;
			padding-bottom:5px;
		}
	}
	
	#about-you{
		padding:5px 10px 5px 10px;
		

	}
	
	#about-you img{
		border:2px solid #CCC;
		padding:2px;
		float:left;
		margin-right: 10px;
		margin-bottom:10px;
		}
	
	#main_panel{
		/*border-left: 1px dashed @primary_green;*/
		height:100%;
	}
	
	#message_main{
		padding:10px;
	}
	
	#form_messages{
		float:left;
		width:100%;
		padding:10px 10px 20px 10px;
		
		.message{
			border-bottom: 1px solid #CCC;
			padding-top:20px;
			color:#333;
			
		}
	}
	
}  

#login_container{
	width:300px;
	margin:0 auto;
	padding: @general_padding;
	margin-top:100px;
	.box-shadow();
	background-image:none;
	
	input,a{
		display:block;
		padding:0.2em;
		margin-top:1em;
	}
	
	input[type='text'],input[type='password']
	{
		width:290px;
	}
	
	input[type='submit'], a{
		.button();
		float:left;
		text-decoration:none;
	}
	
	input[type='submit']:hover, a:hover{
		background-color:@secondary_green;
		cursor:pointer;

	}
	
	input[type='submit']:active, a:active{
		background-color:@secondary_green;
		cursor:pointer;
		.inset-shadow();
	}
	
	a{
		margin-left:10px;
	}
	
	h1{
		margin-left:0px;
		padding-left:0px;
	}
	
	
}

#browse_table{
	tr,td,th{
		 padding:5px;
	}
	
}

