/* 
Variables! 
*/  
@primary_green: #96BA5A;  
@secondary_green: #84B154;
@alt_green: #5AAC7B;
@blue_highlight: #4BC1DD;

@general_padding: 10px;
  
/* 
Mix-ins are like functions for commonly used operations, 
such as apply borders. We create variables by prepending 
the @ symbol. 
*/  
.rounded(@radius: 5px) {  
    -moz-border-radius: @radius;  
    -webkit-border-radius: @radius;  
    border-radius: @radius;  
}  
  
  
body{
	 background: #eeeeee;  
}  
	
h1{
	color: @blue_highlight;
	padding:@general_padding;
	margin-top:@general_padding;
	font-family:'CantarellRegular', Arial, sans-serif;
}
	
.left-marg{
		margin-left:@general_padding;
}
	
#main_container {  
/* References the variable we created above. */  
    background: white;
	padding-top:@general_padding;
	padding-bottom:@general_padding;
	margin-top:@general_padding;

	
	h1{
		color: @blue_highlight;
		padding:@general_padding;
		font-family:'CantarellRegular', Arial, sans-serif;
		border-bottom:1px solid @alt_green;
	}  
	
	p{
		padding:@general_padding;
	}  
/* Calls the .rounded mix-in (function) that we created, and overrides the default value. */  
    .rounded();   
  
/* Nested selectors inherit their parent's selector as well. This allows for shorter code. */  
    a {  
        color: red;  
    } 
	
	#left_panel{
		border-right: 1px dashed @primary_green;
	}
	
}  